<!doctype html>
<!--Homepage-->
<head>
<style>html {
	    background: #F0ECEE);    
	}
	

	@font-face {
	font-family: 'Fira Sans';
	src: url('https://fonts.google.com/specimen/Fira+Sans');
	}
	

	body {
	    background-color: none;
	}
	

	header {
	    font-size: 30pt;
	    font-family: 'Fira Sans';
	    color: rgb(92, 226, 60);
	    text-transform: uppercase;
	    background-color:none;
	    text-align: center;
	    padding-top: 10px;
	    padding-bottom: 10px;
	   
	}
	

	

	.toolbar img {
	    height: 30px;
	    width: 30px;
	}
	

	

	.toolbar {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    padding-left: 10px;
	    /*background-color: #FF4850;*/
	    background: none;
	    font-size: 13px;
	    font-family: 'Fira Sans';
	    font-weight: 600;
	}
	

	h1, h2, h3 {
	    text-transform: uppercase;
	    color: rgb(78, 183, 53);
	    font-family: 'Fira Sans';
	    float;
	    position: relative;
	    padding: 10px;
	    padding-left: 10px;
	

	}
	

	p {
	    background-color: none
	    border-radius: 15px;
	    padding: 10px;
	    
	    position: fixed left;
	}
	

	.main-content {
	    width: 400px;
	    padding: 10px 10px;
	    margin: 0px 60px 0px 30px;
	}
	

	ol {
	    /*background-color:  white;*/
	    border-radius: 15px;
	    /margin: 10px;
	    /padding: 10px;
	    color: white;
	}
	

	

	input[type=text] {
	    padding:10px; 
	    border:2px solid #ccc; 
	    -webkit-border-radius: 15px;
	    border-radius: 15px;
	}
	

	input[type=text]:focus {
	    border-color: #88898B;
	}
	

	input[type=submit] {
	    font-family: 'Fira Sans';
	    font-size: 30px;
	    padding:10px 10px; 
	    background:#ccc; 
	    border:0 none;
	    cursor:pointer;
	    -webkit-border-radius: 15px;
	    border-radius: 15px; 
	}
</style>

  <title>Adopt Me</title>
  
</head>
<body>
<div>
  <h1 class="heading"></h1>
<ul>
  <li><a href="AboutUs.asp">About Us</a></li>
  <li><a href="WhatWeDo.asp">What We Do</a></li>
  <li><a href="Benfits.asp">Benefits</a></li>
  <li><a href="OurBuddies.asp">Our Buddies</a></li>
</ul>
<div>
  <img class ="imagebulldog" src="images/bulldog.jpg" width="512" height="314"/>
</div>

<blockquote class="quote">
  <p><q>Do you think about adopting a friend?</q> We will help choose the best buddy that fits your family and home perfectly.</p>
</blockquote>
</body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</html>
